<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css"/>
  <link rel="stylesheet" href="https://fonts.proxy.ustclug.org/css?family=Lato:400,700,400italic,700italic&subset=latin"/>
  <link rel="stylesheet" href="../lib/styles/index.css">
  <style>
    html, body {
      margin: 0;
      padding: 0;
      height: 0;
      font-size: 14px;
    }

    .content {
      width: 100%;
      height: 100%;
      /* border: 1px dashed darkcyan; */
      text-align: center;
    }

    .bg-blue {
      background-color: blue;
    }

    .bg-red {
      background-color: royalblue;
    }
  </style>
</head>
<body>
  <div id="app" style="display: flex; flex-direction: column; align-items: flex-start; justify-content: space-evenly;">


    <!-- <pl-button type="error" size="tiny" @click.native="buttonClick">Error</pl-button> -->
    <div class="buttons" style="padding-bottom: 3em;">
      按钮: 
      <pl-button size="huge">默认</pl-button>
      <pl-button type="primary" size="big">Primary</pl-button>
      <pl-button type="info" size="large">Info</pl-button>
      <pl-button type="dashed" size="normal">dashed</pl-button>
      <pl-button type="success" size="medium" >Success</pl-button>
      <pl-button type="warning" size="small" >Warning</pl-button>
      <pl-button type="error" size="tiny">Error</pl-button>
  
      <pl-button type="info" disabled>Disabled</pl-button>
      <pl-button type="dashed" disabled>Disabled</pl-button>
      <pl-button shape="circle"><i class="fa fa-search"></i></pl-button>
      <pl-button type="success" shape="circle"  @click="console.log(1112)"><i class="fa fa-search" style="margin-right: .5em;"></i>Search</pl-button>
      <pl-button type="error" @click="console.log(1112)"><i class="fa fa-search" style="margin-right: .5em;"></i>Search</pl-button>
  
      <pl-button size="huge" type="info" :loading="true">Loading</pl-button>


      <button>原生</button>
    </div>

    <div class="aaa">
      开关：
      <pl-switch v-model="v1" @change="onStatus"></pl-switch>
      <pl-switch v-model="v1" @change="onStatus" disabled></pl-switch>

    </div>

    <div>
      <pl-button-group>
        <pl-button>left</pl-button>
        <pl-button>center</pl-button>
        <pl-button>right</pl-button>
      </pl-button-group>

      <pl-button-group type="primary">
        <pl-button>left</pl-button>
        <pl-button>center</pl-button>
        <pl-button>right</pl-button>
      </pl-button-group>

      <pl-button-group type="success" size="small">
        <pl-button>left</pl-button>
        <pl-button>center</pl-button>
        <pl-button>right</pl-button>
      </pl-button-group>

      <pl-button-group type="dashed" size="tiny">
        <pl-button>left</pl-button>
        <pl-button>center</pl-button>
        <pl-button>right</pl-button>
      </pl-button-group>

    </div>

    <div style="margin-top: 20px">
      <pl-radio v-model="radioValue2" @change="onMsg">选项一</pl-radio>
      <pl-radio v-model="radioValue" disabled>选项二</pl-radio>


      <pl-radio-group v-model="values" @change="onChange">
        <pl-radio :index="index" v-for="(c, index) in ['A', 'B', 'C']" :key="index"><span v-html="c"></span></pl-radio>

      </pl-radio-group>
    </div>


  </div>
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.9/vue.min.js"></script>
  <script src="../lib/index.js"></script>
  <script>
    new Vue({
      el: '#app',
      data () {
        return {
          v1: false,
          radioValue: 1,
          radioValue2: 2,
          values: ''
        }
      },
      methods: {
        buttonClick(e) {
          console.log('button', e)
        },
        onStatus(e) {
          console.log('233', e)
        },
        onMsg(e) {
          console.log('xx', e)
        },
        onChange(e) {
          console.log(111, e)
        }
      }
    })
  </script>
</body>
</html>