<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css"/>
  <link rel="stylesheet" href="https://fonts.proxy.ustclug.org/css?family=Lato:400,700,400italic,700italic&subset=latin"/>
  <link rel="stylesheet" href="../lib/styles/index.css">
  <style>
    html, body {
      margin: 0;
      padding: 0;
      height: 0;
      font-size: 24px;
    }

    .content {
      width: 100%;
      height: 100%;
      /* border: 1px dashed darkcyan; */
      text-align: center;
    }

    .bg-blue {
      background-color: blue;
    }

    .bg-red {
      background-color: royalblue;
    }
  </style>
</head>
<body>
  <div id="app" style="display: flex; flex-direction: column; align-items: flex-start; justify-content: space-evenly;">


    <!-- <pl-button type="error" size="tiny" @click.native="buttonClick">Error</pl-button> -->
    <div class="buttons" style="padding-bottom: 3em;">
      按钮: 
      <pl-button size="huge">默认</pl-button>
      <pl-button type="primary" size="big">Primary</pl-button>
      <pl-button type="info" size="large">Info</pl-button>
      <pl-button type="dashed" size="normal">dashed</pl-button>
      <pl-button type="success" size="medium" >Success</pl-button>
      <pl-button type="warning" size="small" >Warning</pl-button>
      <pl-button type="error" size="tiny">Error</pl-button>
  
      <pl-button type="info" disabled>Disabled</pl-button>
      <pl-button type="dashed" disabled>Disabled</pl-button>
      <pl-button shape="circle"><i class="fa fa-search"></i></pl-button>
      <pl-button type="success" shape="circle"  @click="console.log(1112)"><i class="fa fa-search" style="margin-right: .5em;"></i>Search</pl-button>
      <pl-button type="error" @click="console.log(1112)"><i class="fa fa-search" style="margin-right: .5em;"></i>Search</pl-button>
  
      <pl-button type="info" :loading="true">Loading</pl-button>


      <button>原生</button>
    </div>

    <div class="aaa">
      开关：
      <pl-switch v-model="v1" @change="onStatus"></pl-switch>
      <pl-switch v-model="v1" @change="onStatus" disabled></pl-switch>

    </div>

    <div>栅格</div>

    <div class="grid" style="width: 100%;">
      <pl-row>
        <pl-col span="12"><div class="content bg-blue">12</div></pl-col>
        <pl-col span="8"><div class="content bg-red">8</div></pl-col>
        <pl-col span="6"><div class="content bg-blue">6</div></pl-col>

      </pl-row>
      <pl-row>
        <pl-col span="24">24</pl-col>
        <pl-col span="0">0</pl-col>
        <pl-col span="1">1</pl-col>
      </pl-row>

      <pl-row>
        <pl-col span="24">full</pl-col>
      </pl-row>

    </div>


  </div>
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.9/vue.min.js"></script>
  <script src="../lib/index.js"></script>
  <script>
    new Vue({
      el: '#app',
      data () {
        return {
          v1: false
        }
      },
      methods: {
        buttonClick(e) {
          console.log('button', e)
        },
        onStatus(e) {
          console.log('233', e)
        }
      }
    })
  </script>
</body>
</html>