@import './base.less';

.@{css-prefix}button{
  
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    color: @base-font-color;
    border-radius: @border-radius;
    cursor: pointer;
    padding: @button-padding;
    border: 1px solid transparent;
    border-color: @border-color;
    background: @bg-color;
    margin: 0;
    outline: none;
    user-select: none;
    text-align: center;
    box-sizing: border-box;
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
    .transition(all 0.1s linear);


    &.active, &:hover, &:focus {
      background-color: @bg-color;
      color: @primary-hover-color;
      border-color: @primary-hover-color
    }

    // size
    .font-sizes;

    // disabled
    .disabled;

    // loading
    &.loading {
      position: relative;
      .loading(1.2em, 0.2em);
      color: transparent!important;
      &:after {
        border-color: #FFFFFF transparent transparent;
      }
    }

    // shape

    &.circle {
      border-radius: 10em;
    }

    // type
    // &.default {
    //   .type-default;
    // }

    &.primary {
      .type-primary;
    }

    &.info {
      .type-info;
    }

    &.success {
      .type-success;
    }

    &.warning {
      .type-warning;
    }

    &.error {
      .type-error;
    }

    &.dashed {
      .type-dashed;
    }

}